/* Reviews after units ======================================== */
.reviews-section {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.reviews-section h4 {
  color: #26374c;
  display: inline;
  margin: 20px 0 10px 0;
}

.reviews-section .averages {
  margin-top: 10px;
  overflow: auto;
}

.reviews-section .average {
  display: inline-block;
  float: left;
  padding-right: 30px;
  width: 50%;
}


.reviews-section p {
  display: inline-block;
}

.reviews-section .averages .stars {
  float: right;
  font-size: 15px;
}

.reviews-section .review-list {
  margin-top: 25px;
}

.reviews-section .review-list .review {
  margin-bottom: 40px;
  overflow: auto;
}

.reviews-section .review-list .avatar {
  float: left;
  text-align: center;
  width: 20%;
}

.reviews-section .review-list .avatar img {
  border-radius: 40px;
  width: 80px;
}

.review-section .review-list .review .content {
  float: left;
  margin-left: 5%;
  width: 75%;
}

.reviews-section .review-list .review .content .stars {
  display: inline-block;
  font-size: 15px;
}

.reviews-section .review-list .review .content .date {
  color: #999999;
  float: right;
  font-style: italic;
  font-weight: 300;
}

.reviews-section .review-list .review .content .name {
  display: inline-block;
  color: #26374c;
  font-weight: 500;
}

.reviews-section .review-list .review .content .text {
  margin-top: 10px;
}

.reviews-section .review-list .review .content a {
  background-color: #eab61d;
  color: #ffffff;
  float: left;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews-section a {
  color: #5698c2;
  display: inline-block;
  float: left;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
}

/* Nearby buildings section ======================================== */
.top-apartments {
  padding-top: 4rem;
  background-color: #fff;
}
