/*remove navbar color for home page*/
body[data-controller="pages"][data-action="index"] nav.main {
  background-color: transparent;
}

/*spacing for title, tagline, and form*/
body[data-controller="pages"][data-action="index"] .hero .search h3.like-h1 {
  margin-bottom: 1rem;
}

body[data-controller="pages"][data-action="index"] .hero .search h2.like-h4 {
  margin-bottom: 9rem;
}

/*remove navigation sign up background color to focus call to action on search*/
nav.main .links li, nav.main .links li.button, nav.main .links li.login {
  margin-right: 0;
  background-color: transparent;
}

nav.main .links ul {
  margin-right: 0;
}

/*responsive title copy*/
@media (max-width: 767px) {
  body[data-controller="pages"][data-action="index"] .hero .search h3.like-h1 {
    font-size: 2.5rem;
  }

  body[data-controller="pages"][data-action="index"] .hero .search h3.like-h1 {
    font-size: 2.2rem;
  }
}


