/* Hero image ======================================== */
.property .cover {
  height: 530px;
}

/* Information overview ======================================== */
.property .meta .wrapper {
  height: 180px;
}
.property .meta .info {
  display: block;
  margin-left: 0;
}

.property .meta-info {
  margin-top: 1.5rem;
}

.property .meta-info .row {
  text-align: center;
}

.property .meta .info h2.like-body,
.property .meta .info p {
  font-size: 1.8rem;
}

/* Floating tour/contact form ======================================== */
.rankings a.dark-blue {
  color: #26374c;
}

.rankings .yellow {
  color: #eab61d;
  margin-right: 0.5rem;
}

.address-section {
  padding-right: 4rem;
}

.address-section .address {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.property .container-wrapper .property-card .stars {
  float: right;
  font-size: 1.75rem;
}

.property .container-wrapper .property-card .stars .review-count {
  font-size: 1.75rem;
  margin-left: 0.5rem;
}

.property-card strong.neighborhood-name {
  margin-left: 0.5rem;
}

/* About description section ======================================== */
.about .row {
  position: relative;
}

.about .card-track {
  position: absolute;
  right: 0;
  top: -250px;
}

.about .property-card a {
  margin-top: 0.5rem;
}

.property .container-wrapper .property-card h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.about .property-card .right.rankings {
  margin-bottom: 0;
  margin-top: 2rem;
}
.about .property-card a.contact {
  margin-top: 1.5rem;
}

.property .info .meta-info-wrapper {
  margin-left: -5rem;
  position: relative;
}

.property .meta .info h2.like-body {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* Navbar search ======================================== */
.search-wrapper {
  width: 100%;
}

form#default_search_form {
  display: inline-block;
  margin-left: 5rem;
  margin-top: 2.5rem;
  width: 8%;
}

form#default_search_form input[type="text"] {
  font-size: 1.5rem;
  line-height: 1.75;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

}

form#default_search_form .search-icon {
  color: #333;
  position: absolute;
  right: 8%;
  top: 25%;
}


/* Hero image ======================================== */
.property .cover {
  height: 380px;
}

.property .meta .wrapper {
  margin-top: 20px;
}

/* Nav search bar ========================================*/
.navicon {
  color: #fff;
  line-height: 85px;
}

.mobile-menu {
  background-color: #26374c;
  border-top: 1px solid #fff;
  display: none;
  height: 65px;
  width: 100%;
  line-height: 35px;
  position: absolute;
}

.mobile-menu nav,
.mobile-menu nav ul,
.mobile-menu nav li {
  height: 100%;
}
.mobile-menu nav ul {
  display: flex;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.mobile-menu nav ul li {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.mobile-menu nav ul li.search {
  width: 45%;
}

.mobile-menu nav ul li.login {
  flex: 2;
}

.mobile-menu nav ul li.login a {
  color: #fff;
  display: block;
  font-size: 14px;
}

.mobile-menu nav ul li input {
  flex: 1;
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 100%;
}

@media and screen (max-width: 768px) {
  nav.main .links .login {
    display: none;
  }
}
